* {
    font-family: "Popins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/011/854/489/non_2x/loy-krathong-festival-celebration-in-thailand-template-hand-drawn-cartoon-flat-illustration-with-lanterns-and-krathongs-floating-on-water-design-vector.jpg');
    width: 100%;
    height: 100vh;
    display: flex;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    background: rgb(0, 0, 0, 0.1);
    width: 320px;
    padding: 24px;
    border-radius: 16px;
    border: solid 5px rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    box-shadow: 0px 0px 30px 20px rgb(0, 0, 0, 0.1);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-title {

    margin-bottom: 16px;
}

.input-box {
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 20px;
}

.input-box input {
    width: 100%;
    padding: 10px 16px 10px 38px;
    border-radius: 99px;
    border: solid 3px transparent;
    background: rgb(255, 255, 255, 0.25);
    outline: none;
    caret-color: white;
    color: white;
    font-weight: 500;
    transition: 0.25s;
}

.input-box input:focus {
    border: solid 3px rgb(255, 255, 255, 0.25);
}

.input-box input::placeholder {
    color: rgb(255, 255, 255, 0.75);
}

.input-box input::-ms-reveal {
    filter: invert(100%);
}

.input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    color: rgb(255, 255, 255, 0.75);
    font-size: 18px;
    transition: 0.25s;
}

.input-box input:focus+i {
    color: white;
}

.remember-forgot-box {
    display: flex;
    width: 100%;
    margin-top: 16px;
    justify-content: space-between;
}

.remember-forgot-box h5 {
    font-weight: normal;
}

.remember-me {
    display: flex;
    gap: 8px;
}

.login-button {
    background: linear-gradient(45deg, #ff7e5f, #feb47b);
    /* ไล่สี */
    color: rgb(232, 232, 232);
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    /* มุมโค้งแบบวงกลม */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    
}